/* reset.css */

/* Reset de márgenes y padding para todas las etiquetas */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Muli',sans-serif;
}

/* Corrección para algunos elementos HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    font-family: 'Muli',sans-serif;
}

/* Corrección para fuentes y estilos */
body {
    line-height: 1;
    font-family: 'Muli',sans-serif;
}

/* Elementos que podrían requerir estilos específicos se pueden añadir después de este reset */
